{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}

{% block additional_css %}
<link href="{% static 'css/main_no_auth.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="d-flex h-100 justify-content-center align-items-center">
	<div class="col-12 col-lg-6 p-5 bg-light text-center" style="--bs-bg-opacity: .9;">
		<h3 class="mb-4">{% translate "Password reset mail was sent" %}</h3>
		<p class="text-justify">
			{% blocktranslate %}To reset your password, follow the instructions in the mail.{% endblocktranslate %}<br>
			{% blocktranslate %}You should receive the email shortly!{% endblocktranslate %}
		</p>
		<a href="{% url 'index' %}" class="btn btn-primary mt-3">
			{% translate "Home page" %}
		</a>
	</div>
</div>

{% endblock %}