{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}

{% block additional_css %}
<link href="{% static 'css/main_no_auth.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="d-flex h-100 justify-content-center align-items-center">
	<div class="col-12 col-lg-6 p-5 bg-light text-center" style="--bs-bg-opacity: .9;">
        <h3 class="mb-4">{% translate "Reset password" %}</h3>

        {% if validlink %}

	        <form method="POST">
	            {% csrf_token %}
	            {{ form }}
		        <div class="row justify-content-center align-items-center">
					<div class="col text-end">
						<a href="{% url 'index' %}" class="btn btn-secondary">
							{% translate "Home page" %}
						</a>
					</div>
					<div class="col text-start">
						<input type="submit" class="btn btn-primary" value="{% translate 'Change my password' %}">
					</div>
				</div>
	        </form>

        {% else %}

	        <p class="text-justify">
	            {% blocktranslate %}The password reset link was invalid, possibly because it has already been used. Please request a new password reset.{% endblocktranslate %}
	        </p>
			<a href="{% url 'index' %}" class="btn btn-primary mt-3">
				{% translate "Home page" %}
			</a>

        {% endif %}
	</div>
</div>

{% endblock %}